*{
	margin:0;
	padding:0;
	
}

.navbar-toggler{
	border-radius: 0 !important;
	border: none !important;
	box-shadow: none !important;
	padding: 12px 12px !important;
	background-color: #769A5A !important;
	}


/*------------------------------SERVICE PAGE START---------------------------------------*/

.service-page {
	height:90%;
	width:100%;
	background-image: url("images/service1.jpg");
	background-size:cover;
	background-position:center;
	
}
.service-page h1{
font-size: 70px;
letter-spacing: 9px;
display: flex;
align-items: center;
justify-content: center;
padding-top:140px;
color: #2C541D;
}

/*------------------------------SERVICE PAGE END---------------------------------------*/


/*------------------------------SECTION 1 START---------------------------------------*/

.section-1{
  
    
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:120px 120px;
  
}

.section-1 .card-img{
    width: 110%;
    height: 70%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-right: 30px;
}




.section-1 .card-body{
        width: 100%;
      padding-right:50px; 
}

.card-body h2{
    padding-bottom:30px;
    font-weight: bold; 
}

.card-body .btn{
    border: none;
    border-radius: 0;
    background: #769A5A;
    cursor: pointer;
    color:white;
}

.card-body .btn:hover{
    background: #2C541D;
}
/*------------------------------SECTION 1 END--------------------------------------*/



/*------------------------------SECTION 1 START---------------------------------------*/

.section-2{

    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 120px ;
}

.section-2 .card-img{
    width: 110%;
    height: 70%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  
}


.section-2 .card-body{
        width: 100%;
      padding-left:150px; 
}

.card-body h2{
    padding-bottom:30px;
    font-weight: bold; 
}

.card-body .btn{
    border: none;
    border-radius: 0;
    background: #769A5A;
    cursor: pointer;
    color:white;
}

.card-body .btn:hover{
    background: #2C541D;
}





/*------------------------------SECTION 1 END--------------------------------------*/


/*------------------------------SECTION 1 START---------------------------------------*/

.section-3{

    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:120px 120px;
}

.section-3 .card-img{
    width: 110%;
    height: 70%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-right: 30px;
}




.section-3 .card-body{
        width: 100%;
      padding-right:50px; 
}

.card-body h2{
    padding-bottom:30px;
    font-weight: bold; 
}

.card-body .btn{
    border: none;
    border-radius: 0;
    background: #769A5A;
    cursor: pointer;
    color:white;
}

.card-body .btn:hover{
    background: #2C541D;
}
/*------------------------------SECTION 1 END--------------------------------------*/


/*------------------------------LAST PAGE START---------------------------------------*/
.last-div{
	height: 80%;
	 width:100%;
	 position:relative;
	 display: flex;
	 background-image: url("images/talk.jpg");
	 background-size:cover;	 	  	 
}

.last-div{
	  display:flex;
	  align-items: center;
	  justify-content: center;
}

.last-div .txt{
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.last-div h1{
	color: #54595F;
	letter-spacing: 3px;
	font-size:45px;
}
.last-div p{
padding-top:10px;
font-size:18px; 
}
.last-div p span{
	padding-left: 25px;
}
.last-div .btn{
	
      background: #769A5A;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 0;
	border: none;	
}
/*------------------------------LAST PAGE END---------------------------------------*/

/*------------------------------END PAGE START---------------------------------------*/
.end{
	display:flex;
	    align-items:center;
		flex-wrap: wrap;
	    justify-content:space-between;
        padding: 15px 10px 20px 15px; 	  	 
}


.end li{
	list-style-type: none;
	display: inline;
	margin: 5px;
	padding: 6px;
}


.end .links{
	    display:flex;
		gap: 10px;
		
}	

.end a{
		color: black;
	text-decoration: none;
}

.end h2{
	position: absolute;
	margin-left: 47%;
	letter-spacing: 5px;
	font-size: 25px;
}

.end p{
	margin-right: 30px;
}

/*------------------------------END PAGE END---------------------------------------*/














/*------------------------------SERVICE PAGE START---------------------------------------*/

@media only screen and (max-width: 1050px){
    .service-page {
        height:80%;
    }	
    .service-page h1{
        font-size: 60px;
        letter-spacing: 9px;
        padding-top:120px;
        }
    }
    @media only screen and (max-width: 620px){
        .service-page h1{
            font-size: 50px;
            letter-spacing: 9px;
            padding-top:100px;
            }
        }
    @media only screen and (max-width: 520px){
        .service-page {
            height:60%;
        }	
        .service-page h1{
            font-size: 40px;
            letter-spacing: 2px;
            padding-top:80px;
            }
        }			
            
    /*-------------------------------SERVICE PAGE END---------------------------------------*/
    
/*------------------------------SECTION 1 START---------------------------------------*/

    @media only screen and (max-width: 1100px){

.section-1{
    padding:80px 20px;
}

.section-1 .card-img{
    width: 100%;
    padding-right: 10px;
}

.section-1 .card-body{
        width: 90%;
      padding-right:10px; 
}
    }
       
@media only screen and (max-width: 767px){

    .section-1{
        display: block;
        padding:50 20px;
    } 
    .section-1 .card-body{
        width: 100%;
        padding-bottom:20px; 
}    
}

 /*------------------------------SECTION 1 END---------------------------------------*/


 /*------------------------------SECTION 2 START---------------------------------------*/

 @media only screen and (max-width: 1100px){

    .section-2{
        padding:10px 70px 20px 20px;
    }
    
    .section-2 .card-img{
        width: 100%;
        padding-right: 10px;
    }
    
    .section-2 .card-body{
            width: 90%;
          padding-left:10px; 
    }
        }
           
    @media only screen and (max-width: 767px){
    
        .section-2{
            display: block;
            padding:50 20px;
        } 
        .section-2 .card-body{
            width: 100%;
      
            padding: 20px 10px;
    }    
    }
    
     /*------------------------------SECTION 2 END---------------------------------------*/
    
/*------------------------------SECTION 3 START---------------------------------------*/

@media only screen and (max-width: 1100px){

    .section-3{
        padding:80px 20px;
    }
    
    .section-3 .card-img{
        width: 100%;
        padding-right: 10px;
    }
    
    .section-3 .card-body{
            width: 90%;
          padding-right:10px; 
    }
        }
           
    @media only screen and (max-width: 767px){
    
        .section-3{
            display: block;
            padding:50 20px;
        } 
        .section-3 .card-body{
            width: 100%;
            padding-bottom:20px; 
    }    
    }
    
     /*------------------------------SECTION 3 END---------------------------------------*/
    
         

/*------------------------------LAST DIV PAGE START---------------------------------------*/

@media only screen and (max-width: 600px){
	.last-div .txt{
		padding: 0 30px;
	}
	.last-div p span{
		padding-left: 1px;
	}	
	}
	@media only screen and (max-width: 470px){
		.last-div .txt{
			padding: 0 40px;
		}
	}	
/*------------------------------LAST DIV PAGE END---------------------------------------*/


/*------------------------------END PAGE START---------------------------------------*/


@media only screen and (max-width: 800px){
	.end{
	display:block; 	  	 
}
.end .links {
    display: flex;
    gap: 10px;
	padding-left: 31%;
}

.end h2{
	position: absolute;

	letter-spacing: 5px;
	font-size: 25px;
}

.end p{
	margin-right: 0px;
	padding-left: 40%;
	padding-top: 40px;
}
}
@media only screen and (max-width: 550px){
	.end .links {
		padding-left: 20%;
	}
	
	.end h2{
		font-size: 25px;
	}
	
	.end p{
		margin-right: 0px;
		padding-left: 30%;
	}
	}

	@media only screen and (max-width: 470px){
		.end .links {
			padding-left: 10%;
		}
		
		.end h2{
			font-size: 25px;
			margin-left: 35%;
		}
		
		.end p{
			margin-right: 0px;
			padding-top: 50px;
			padding-left: 20%;
		}
        }
 @media only screen and (max-width: 400px){
.end .links {
    padding-left: 5%;
}
 }
       /*------------------------------END PAGE END---------------------------------------*/
 