*{
	margin:0;
	padding:0;
}


.navbar-toggler{
	border-radius: 0 !important;
	border: none !important;
	box-shadow: none !important;
	padding: 12px 12px !important;
	background-color: #769A5A !important;
	}
/*------------------------------BANNER PAGE START---------------------------------------*/
.banner-page{

	width:100%;
	
}
.banner-page {
	height:100%;
	width:100%;
	background-image: url("images/home.jpg") !important;
	background-size:cover;
	background-position:center;	
	
}
.banner-page .txt{
	          display:flex;
			  align-items:center;
			  justify-content:center;
			  flex-direction:column;
			  padding-top:50px; 			  
}
.banner-page .txt h1{
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1em;
	letter-spacing: 10px;
}

.banner-page .txt p{
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
	letter-spacing: 6.3px;
}
.banner-page .btn{
      background: #769A5A;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 0;
	border: none;	
}
/*------------------------------BANNER PAGE END---------------------------------------*/

/*------------------------------IMAGES PAGE START---------------------------------------*/

#images-page{
          
           width: 100%;
           margin-top:70px;
           position: relative;
	       /* padding:0 5%; */
	       display:flex;
		   align-items:center;
		   justify-content:center;
		   flex-wrap:wrap;
		   padding: 50px 120px;
		   gap:10px;
		   margin-left: -10px;
 
}
#images-page .container{
		    width: 342px; 
	        height:610px;
            cursor: pointer;
		    position: relative;
			
			
            			
}

#images-page .container .img{
	width: 342px;
    height: 437px;
}

.img img{
	      height:100%;
	      width:100%;
	      background-position:cover;
	      object-fit:cover;
}
#images-page .container .txt{
				    width: 342px; 
					height:130px;
					padding-top: 20px;
				    position: relative;
			
}
/*------------------------------IMAGES PAGE END---------------------------------------*/

/*------------------------------ABOUT PAGE START---------------------------------------*/

.about{
      width: 100%;
	  display:flex;
	  align-items:center;
	  justify-content:space-between;
	  position:relative;
	  gap:30px;
	  padding:0 7%;
	  margin-top:50px;
	  padding-bottom: 100px;
	
	 
	 	  	
}

.about .text{
	width:100%;
}
.about .text p{
	        padding-top:25px;
}
.image {
	width:100%;
    height:70%;		       
}

.image img{
		height:70%;
		width:100%;
		background-position:right;
				object-fit:cover;
}
/*------------------------------ABOUT PAGE END---------------------------------------*/

/*------------------------------LAST PAGE START---------------------------------------*/
.last-div{
	height: 80%;
	 width:100%;
	 position:relative;
	 display: flex;
	 background-image: url("images/talk.jpg");
	 background-size:cover;	 	  	 
}

.last-div{
	display:flex;
	align-items: center;
	justify-content: center;
}

.last-div .txt{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.last-div h1{
  color: #54595F;
  letter-spacing: 3px;
  font-size:45px;
}
.last-div p{
padding-top:10px;
font-size:18px; 
}
.last-div p span{
  padding-left: 25px;
}
.last-div .btn{
  
	background: #769A5A;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 0;
  border: none;	
}
/*------------------------------LAST PAGE END---------------------------------------*/

/*------------------------------END PAGE START---------------------------------------*/
.end{
  display:flex;
	  align-items:center;
	  flex-wrap: wrap;
	  justify-content:space-between;
	  padding: 15px 10px 20px 15px; 	  	 
}


.end li{
  list-style-type: none;
  display: inline;
  margin: 5px;
  padding: 6px;
}


.end .links{
	  display:flex;
	  gap: 10px;
	  
}	

.end a{
	  color: black;
  text-decoration: none;
}

.end h2{
  position: absolute;
  margin-left: 47%;
  letter-spacing: 5px;
  font-size: 25px;
}

.end p{
  margin-right: 30px;
}

/*------------------------------END PAGE END---------------------------------------*/







/*------------------------------RESPONSIVENESS START---------------------------------------*/


    /* ---------------------------------HOME START--------------------------------------*/
@media only screen and (max-width: 992px){
	.banner-page .txt h1{
		         font-size: 60px;
                 letter-spacing: 5px;

}
}
.banner-page .txt p{
				font-size: 35px;
				font-weight: 300;
}
@media only screen and (max-width: 767px){
.banner-page {
	height:90%;

}
}

@media only screen and (max-width: 600px){
	.banner-page .txt h1{
		         font-size: 50px;
                 letter-spacing: 5px;

}
.banner-page .txt p{
				font-size: 25px;
				font-weight: 300;
}
}

	/* ---------------------------------HOME START--------------------------------------*/
	

    /* ---------------------------------IMAGES PAGE START--------------------------------------*/


@media only screen and (max-width: 1250px){
	#images-page{
		padding: 50px 20px;
		gap:10px;

}
}

@media only screen and (max-width: 1080px){
	#images-page{
		padding: 50px 20px;
		gap:10px;

}
}

@media only screen and (max-width: 450px){
#images-page{
		padding: 50px 5px;
		gap:10px;

}
}


     /* ---------------------------------IMAGES PAGE START--------------------------------------*/


     /* ---------------------------------ABOUT PAGE START--------------------------------------*/


   @media only screen and (max-width:767px){
  .about{
	  display: block;
	  flex-wrap:wrap;
		  	
}
.image {
	width:100%;
    height:70%;		       
}

.image img{
		height:100%;
		width:100%;
		background-position:right;
		object-fit:cover;
}

   }

   @media only screen and (max-width:620px){

  .image {
	  width:100%;
	  height:50%;		       
  }
}

@media only screen and (max-width:620px){
	.about{
     margin-top: -20px;
				
  }
	.image {
		width:100%;
		height:40%;		       
	}
  }
 

  /* ---------------------------------ABOUT PAGE START--------------------------------------*/

/*------------------------------LAST DIV PAGE START---------------------------------------*/

@media only screen and (max-width: 600px){
	.last-div .txt{
		padding: 0 30px;
	}
	.last-div p span{
		padding-left: 1px;
	}	
	}
	@media only screen and (max-width: 470px){
		.last-div{		
		margin-top: -20px;
		}
		.last-div .txt{
			padding: 0 40px;
		}
	}	
/*------------------------------LAST DIV PAGE END---------------------------------------*/


/*------------------------------END PAGE START---------------------------------------*/


@media only screen and (max-width: 800px){
	.end{
	display:block; 	  	 
}
.end .links {
    display: flex;
    gap: 10px;
	padding-left: 31%;
}

.end h2{
	position: absolute;

	letter-spacing: 5px;
	font-size: 25px;
}

.end p{
	margin-right: 0px;
	padding-left: 40%;
	padding-top: 40px;
}
}
@media only screen and (max-width: 550px){
	.end .links {
		padding-left: 20%;
	}
	
	.end h2{
		font-size: 25px;
	}
	
	.end p{
		margin-right: 0px;
		padding-left: 30%;
	}
	}

	@media only screen and (max-width: 470px){
		.end .links {
			padding-left: 10%;
		}
		
		.end h2{
			font-size: 25px;
			margin-left: 35%;
		}
		
		.end p{
			margin-right: 0px;
			padding-top: 50px;
			padding-left: 20%;
		}
        }
 @media only screen and (max-width: 400px){
.end .links {
    padding-left: 5%;
}
 }
       /*------------------------------END PAGE END---------------------------------------*/
